html {
    height: 100%;
    padding:0px;
    margin:0px;
  }
header{
    width: 80%;
    background: #4d4c4c;
    color: #ffffff;
    padding-top: 30px;
    min-height: 20px;
    min-width:100%;
    float:left;
    padding:15px;
    margin-bottom: 30px;
    margin-top: 0;
}
header #branding{
    float: left;
}
header #search{
    float: right;
}
header #search input{
    background: url("./media/ic_search.png") no-repeat scroll 2px 2px;
    background-color: #2b2a2a;
    padding-left:30px;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
.container h2 {
    color:#d3b409
}
#showcase{
    min-height: 300px;
    background:url('./media/img_hero.jpg') no-repeat  80% 60%;
    background-size: cover;
    text-align: center;
}
#showcase div{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #4d4c4c;
}
#showcase p{
    font-size: 20px;
}
.avatar-parent{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.avatar{
    position: relative;
    top: -50px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: contain;
    
}
.avatar-small{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: contain;
    
}
.avatar-desc{
    position: relative;
    font-size: 11px;
}
.avatar-desc h4{
    color: #e0cc16;
}
footer{
    background: #4d4c4c;
    padding: 5px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    position: relative;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 10rem;
    color: #ffff;
}
/*Media Query*/
@media(max-width: 768px){
    #showcase h1{
        margin-top: 40px
    }
}

